.row {
  text-align: center;
}

.card {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: gainsboro;
  cursor: pointer;
  border-radius: 60px;
}

.card.done {
  cursor: default;
}

.card.done:hover {
  cursor: default;
  box-shadow: none;
}

.card:hover {
  box-shadow: inset 0px 0px 0px 1px darkorchid;
  box-sizing: border-box;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.orange {
  background-color: orange;
}
.purple {
  background-color: purple;
}
.yellow {
  background-color: yellow;
}
.pink {
  background-color: pink;
}
.aqua {
  background-color: aqua;
}
.grey{
  background-color: grey;
}
.white{
  background-color: antiquewhite
}

.color-hidden {
  background-color: gainsboro;
}

